{% extends 'directorio/base.html' %}

{% block contenido %}
    <div class="row">
        <div class="col-md-6">
            <div class="card border-success">
                <div class="card-header bg-success" >
                    <a href="{% url 'reserva:crear_persona' %}"
                       class="btn btn-outline-dark pull-right">
                        <i class="fa fa-plus"></i> Nuevo</a>
                    <h3 class="card-title text-dark">
                        <i class="fa fa-users" ></i> Profes </h3>
                </div>
                <div class="card-body ">
                    <div class="list-group">
                        <a href="{% url 'reserva:personas' %}"
                           class="list-group-item list-group-item-action">
                            Listado de profes
                            <span class="badge badge-secondary pull-right">{{ total_personas }}</span> </a>
                    </div>
                </div>
            </div>
            <br>
            <div class="card border-info">
                <div class="card-header bg-info">
                    <a href="{% url 'reserva:crear_modulo' %}"
                       class="btn btn-outline-dark pull-right">
                        <i class="fa fa-plus"></i> Nuevo</a>
                    <h3 class="card-title text-dark">
                        <i class="fa fa-building-o"></i> modulo
                    </h3>
                </div>
                <div class="card-body ">
                    <div class="list-group">
                        <a href="{% url 'reserva:modulos' %}"
                           class="list-group-item list-group-item-action">
                            Listado de modulos
                            <span class="badge badge-secondary pull-right">{{ total_personas }}</span> </a>
                    </div>
                </div>

            </div><br>
        </div>

        <div class="col-md-6">
            <div class="card border-warning">
                <div class="card-header bg-warning">
                    <a href="{% url 'reserva:crear_asignatura' %}"
                       class="btn btn-outline-dark pull-right">
                        <i class="fa fa-plus"></i> Nuevo</a>
                    <h3 class="card-title text-dark">
                        <i class="fa fa-phone"></i> Asignatura </h3>
                </div>

            </div>

            <br>
            <div class="card border-info">
                <div class="card-header bg-info">
                    <a href="{% url 'reserva:crear_sala' %}"
                       class="btn btn-outline-dark pull-right">
                        <i class="fa fa-plus"></i> Nueva</a>
                    <h3 class="card-title text-dark">
                        <i class="fa fa-building-o"></i> Sala
                    </h3>

                    <div class="card-body ">
                    <div class="list-group">
                        <a href="{% url 'reserva:salas' %}"
                           class="list-group-item list-group-item-action">
                            Listado de salas
                            <span class="badge badge-secondary pull-right">{{ total_personas }}</span> </a>
                    </div>
                </div>
                </div>

            </div><br>

            <div class="row">
        <div class="col-md-6">
            <div class="card border-success">
                <div class="card-header bg-success" >
                    <a href="{% url 'reserva:crear_reserva' %}"
                       class="btn btn-outline-dark pull-right">
                        <i class="fa fa-plus"></i> Nuevas</a>
                    <h3 class="card-title text-dark">
                        <i class="fa fa-address-book" ></i> Reservas </h3>
                </div>
                <div class="card-body ">
                    <div class="list-group">
                        <a href="{% url 'reserva:reservas' %}"
                           class="list-group-item list-group-item-action">
                            Listado de reservas
                            <span class="badge badge-secondary pull-right">{{ total_Reserva }}</span> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>
{% endblock %}