{% extends 'directorio/base.html' %}

{% block contenido %}

    <div class="card border-secondary ">
        <div class="card-header" >
            <a href="{% url 'crear_actividad' %}" class="btn btn-success pull-right">
                <i class="fa fa-plus" aria-hidden="true"></i> Nuevo
            </a>
            <h3 class="card-title">
                <i  class="fa fa-users"></i> Actividades Sello <span class="badge badge-secondary">
                {{ curso.paginator.count }}
            </span>
            </h3>
            <p class="text-muted card-subtitle"> Listado de actividades sello...</p>
            <div class="">
                <form action="" method="get">
                    <div class="input-group ">
                        <input type="text" class="form-control col-md-4"
                               id="inputPassword2" name="filtro" placeholder="buscar" value="{{ request.GET.filtro }}">
                        <span class="input-group-btn">
                       <button type="submit" class="btn btn-primary">
                        <i class="fa fa-search" ></i> buscar</button>
                    </span>

                    </div>
                    {% if request.GET.filtro %}
                        <a href="{{ request.path }}" >
                            <i class="fa fa-filter"></i> Quitar filtro</a>
                    {% endif %}

                </form>
                <div class="text-center">
                    <a href='{% url 'inicio'  %}' class=' btn btn-success '>
                        <i class='fa fa-arrow-left'></i> Volver</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <br>
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>horas</th>
                </tr>
                </thead>
                <tbody>
                {% for actividades in curso %}
                    <tr>

                        <td> {{ actividades.codigo }}</td>
                        <td>{{ actividades.nombre }}</td>
                        <td>{{ actividades.horas}}</td>
                        <td>
                            <div class="btn-group">
                                <a  href="{% url 'inicio'  %}"
                                    class="btn btn-success btn-sm">
                                    <i class="fa fa-address-book " ></i> Unirme
                                </a>
                                <a  href="{% url 'inicio'  %}"
                                    class="btn btn-light btn-sm">
                                    <i class="fa fa-eye " ></i> ver
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>

    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            {% if personas.has_previous %}
                <li class="page-item">
                    <a class="page-link"  data-toggle="popover" href="?page={{ modulos.previous_page_number }}">
                        Anterior</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
            {% endif %}
            <li class="page-item active">
                        <span class="page-link">
                             Página {{ modulos.number }} de {{ modulos.paginator.num_pages }}
                            <span class="sr-only">(current)</span>
                        </span>
            </li>
            {% if modulos.has_next %}
                <li class="page-item">
                    <a class="page-link"  data-toggle="popover" href="?page={{ modulos.next_page_number }}">
                        Siguiente
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Siguiente</span>
                </li>
            {% endif %}
        </ul>
    </nav>
    <br>

{% endblock %}