{% extends 'directorio/base.html' %}

{% block contenido %}

    <div class="card border-secondary ">
        <div class="card-header" >
            <a href="{% url 'crear_estudiante' %}" class="btn btn-success pull-right">
                <i class="fa fa-plus" aria-hidden="true"></i> Nuevo
            </a>
            <h3 class="card-title">
                <i  class="fa fa-users"></i> estudiantes <span class="badge badge-secondary">
                {{ estudiantes.paginator.count }}
            </span>
            </h3>
            <p class="text-muted card-subtitle"> Listado de estudiantes</p>
            <div class="">
                <form action="" method="get">
                    <div class="input-group ">
                        <input type="text" class="form-control col-md-4"
                               id="inputPassword2" name="filtro" placeholder="buscar" value="{{ request.GET.filtro }}">
                        <span class="input-group-btn">
                       <button type="submit" class="btn btn-primary">
                        <i class="fa fa-search" ></i> buscar</button>
                    </span>

                    </div>
                    {% if request.GET.filtro %}
                        <a href="{{ request.path }}" >
                            <i class="fa fa-filter"></i> Quitar filtro</a>
                    {% endif %}

                </form>
                <div class="text-center">
                    <a href='{% url 'inicio'  %}' class=' btn btn-success '>
                        <i class='fa fa-arrow-left'></i> Volver</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <br>
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th>Rut</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Nombres</th>
                    <th>Acciones</th>

                </tr>
                </thead>
                <tbody>
                {% for estudiante in estudiantes %}
                    <tr>

                        <td> {{ estudiante.rut }}</td>
                        <td> {{ estudiante.apellidoPaterno }}</td>
                        <td> {{ estudiante.apellidoMaterno }}</td>
                        <td> {{ estudiante.nombres }}</td>


                        <td>
                            <div class="btn-group">
                                <a   href="{% url 'mostrar_estudiante' estudiante.id %}"
                                     class="btn btn-ligth  btn-sm" >
                                    <i class="fa fa-eye " ></i> Mostrar
                                </a>
                                <a  href="{% url 'editar_estudiante' estudiante.rut %}"
                                    class="btn btn-light btn-sm">
                                    <i class="fa fa-edit " ></i> Editar
                                </a>
                                <a   href="{% url 'eliminar_estudiante' estudiante.rut %}"
                                      class="btn btn-danger btn-sm">
                                    <i class="fa fa-edit " ></i> Borrar
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>

    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            {% if personas.has_previous %}
                <li class="page-item">
                    <a class="page-link"  data-toggle="popover" href="?page={{ personas.previous_page_number }}">
                        Anterior</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
            {% endif %}
            <li class="page-item active">
                        <span class="page-link">
                             Página {{ personas.number }} de {{ personas.paginator.num_pages }}
                            <span class="sr-only">(current)</span>
                        </span>
            </li>
            {% if personas.has_next %}
                <li class="page-item">
                    <a class="page-link"  data-toggle="popover" href="?page={{ personas.next_page_number }}">
                        Siguiente
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Siguiente</span>
                </li>
            {% endif %}
        </ul>
    </nav>
    <br>

{% endblock %}